.container{
    margin-bottom: 80px;
}
.logu{
    width: 80px;
}
.navbar-nav{
    text-align: right;
    display: inline block;
}
.button{
    border-radius: 10px;
}
.leptopt{
    margin-bottom: 30px;
}
.shawdu{
    box-shadow: 5px 2px 4px darkgray;
    border: none;
}
.colour{
    color: rgb(224, 154, 23);
    cursor: pointer;
}
.container .row img{
    width: 100%;
}
.shawduinner{
    box-shadow:5px 5px 5px 5px rgb(168, 164, 164);
    border-radius: 15px;  
}
